@import "compass/css3";
@import "compass/css3/user-interface";

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.multi-tag-input {
    @include box-sizing(border-box);
    -webkit-font-smoothing: antialiased;
    min-height: 20px;
    position: relative;
    width: 415px;

    %unselectable-text {
        @include user-select(none);
        cursor: default;
    }

    > .content-box {
        position: relative;
        width: 100%;
        border: 1px solid black;
    }

    input {
        position: relative;
        width: 100%;
        background-color: transparent;
        border: 0 solid transparent;

        &:focus {
            outline: 0;
        }
    }

    .selected-tags {
        width: 100%;
        position: relative;

        &:after {
            clear: both;
            content: '.';
            display: block;
            height: 0;
            visibility: hidden;
        }
    }

    .tag {
        @extend %unselectable-text;
        float: left;
        position: relative;
        padding-right: 40px;
    }

    .remove-tag-button {
        @include background-image(url(../images/remove-tag-x.png));
        @include background-size(8px 8px);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 0px;
        width: 25px;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    .selectable-tag-list-container {
        @include box-sizing(border-box);
        position: absolute;
        width: 100%;
        top: 100%;
        max-height: 60px;
        background-color: white;
        border: 1px solid black;

        li {
            @extend %unselectable-text;
            cursor: pointer;
        }
    }

    .select-title {
        @extend %unselectable-text;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.multi-tag-input.hyper {
    background-color: #dddddd;
    font-size: 12px;
    font-family: Open Sans, sans-serif;

    %tag-input-border {
        @include box-sizing(border-box);
        @include border-radius(1px);
        border: 2px solid #5d5d5d;
    }

    > .content-box {
        @extend %tag-input-border;
        @include box-shadow(inset 0 0 6px 0 rgba(0, 0, 0, 0.2));
    }

    %smaller-font {
        font-size: 12px;
        color: #484848;
        font-weight: bold;
    }

    %dark-border {

    }

    input {
        @include box-sizing(border-box);
        width: 100%;
        border: 0px solid transparent;
        padding: 5px 10px;
        font-size: 14px;
    }

    .selected-tags {
        @extend %smaller-font;

        > .tag {
            @include border-radius(3px);
            padding: 5px;
            padding-right: 40px;

            margin: 5px;
            background-color: white;
            border: 2px solid #b1b1b1;
        }
    }

    .selectable-tag-list-container {
        @extend %smaller-font;
        @extend %tag-input-border;
        border-top: 0;
        max-height: 98px;
        overflow: auto;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            @include box-sizing(border-box);
            @include transition(background-color 0.3s linear);
            height: 32px;
            padding: 9px 0 0 15px;

            &:hover {
                background-color: #f3f3f3;
            }
        }
    }

    .select-title {
        color: #cecece;
    }
}
