@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/************ Structure ************/

.multi-tag-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  min-height: 20px;
  position: relative;
  width: 341px;
}

/* Unselectable text */
.multi-tag-input .existing-tag,
.multi-tag-input .dropdown-tag-list-container li,
.multi-tag-input .select-title {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.multi-tag-input > .content-box {
  border: 1px solid black;
  position: relative;
  width: 100%;
}

/* Input box */
.multi-tag-input input {
  background-color: transparent;
  border: 0 solid transparent;
  position: relative;
  width: 100%;
}

/* Input box with focus */
.multi-tag-input input:focus {
  outline: 0;
}

/* Selected tags */
.multi-tag-input .selected-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

/* Selected tags, clear fix */
.multi-tag-input .selected-tags:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

/* Selected tags > tag */
.multi-tag-input .existing-tag {
  float: left;
  padding-right: 40px;
  position: relative;
}

/* Selected tags > tag > x button */
.multi-tag-input .remove-tag-button {
  -webkit-background-size: 8px 8px;
  -moz-background-size: 8px 8px;
  -o-background-size: 8px 8px;
  bottom: 0;
  color: #343434;
  cursor: pointer;
  line-height: 28px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 25px;
}

/* Container for selectable tag list */
.multi-tag-input .dropdown-tag-list-container {
  background-color: white;
  border: 1px solid black;
  max-height: 60px;
  position: absolute;
  top: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* list item in selectable tag list */
.multi-tag-input .dropdown-tag-list-container li {
  cursor: pointer;
}

/* Title in the drop down list */
.multi-tag-input .select-title {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

/************ Skin ************/

/* Entire block */
.multi-tag-input.hyper {
  background-color: #dddddd;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
}

/* Border for the existing tag list + input box, and for the drop down menu */
.multi-tag-input.hyper > .content-box,
.multi-tag-input.hyper .dropdown-tag-list-container {
  /* Add box-sizing so box doesn't grow with the border */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  border: 2px solid #5d5d5d;
}

/* Inner shadow for content box */
.multi-tag-input.hyper > .content-box {
  -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

/* Selected tags and drop down list */
.multi-tag-input.hyper .selected-tags,
.multi-tag-input.hyper .dropdown-tag-list-container {
  color: #484848;
  font-size: 12px;
  font-weight: bold;
}

/* Input box */
.multi-tag-input.hyper input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid transparent;
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
  background-color: #ddd;
}

/* Selected tag */
.multi-tag-input.hyper .existing-tag {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  border: 2px solid #b1b1b1;
  margin: 5px;
  padding: 5px 40px 5px 5px;
}

/* Drop down tag list */
.multi-tag-input.hyper .dropdown-tag-list-container {
  border-top: 0;
  max-height: 98px;
  overflow: auto;
}

/* Drop down tag list > tag ul */
.multi-tag-input.hyper .dropdown-tag-list-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Drop down tag list > ul > tag */
.multi-tag-input.hyper .dropdown-tag-list-container li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  height: 32px;
  padding: 9px 0 0 15px;
}

/* Drop down tag list > ul > tag:hover; */
.multi-tag-input.hyper .dropdown-tag-list-container li:hover {
  background-color: #f3f3f3;
}

/* "Suggested results" or "filtered results" */
.multi-tag-input.hyper .select-title {
  color: #cecece;
}
